[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-htmx = "*"
django-extensions = "*"
panda = "*"
python-dotenv = "*"
django-compressor = "*"
django-components = "*"
django-tailwind = {extras = ["reload"], version = "*"}
django-allauth = {extras = ["socialaccount"], version = "*"}
pillow = "*"
django-widget-tweaks = "*"
pytest = "*"
geopy = "*"
global-land-mask = "*"
shapely = "*"
rtree = "*"
numpy = "*"
pdfkit = "*"
weasyprint = "*"
django-weasyprint = "*"
openai = "*"
google-generativeai = "*"
seaborn = "*"
matplotlib = "*"
pandas = "*"
anthropic = "*"
ratelimit = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
