<div class="grid px-4 grid-cols-1 md:grid-cols-2 gap-4">
    <div class="card shadow-lg rounded-lg p-6">
        <h2 class="text-2xl font-bold mb-4">Needs Assessment</h2>
        
        <form id="needs-assessment-form" hx-post="/needs-assessment/" hx-target="#result" hx-swap="innerHTML">
            <div class="form-control mb-4">
                <label class="label">
                    <span class="label-text">Select Projected Population</span>
                </label>
                <select name="projected_population" id="projectedPopulationSelect" class="select select-bordered w-full" hx-get="" hx-target="#population-details" hx-trigger="change">
                    {% for population in population_projections %}
                        <option value="{{ population.slug }}">{{ population }} </option>
                    {% endfor %}
                </select>
            </div>

            <div id="population-details">
                <!-- Additional population details will be displayed here -->
            </div>

            <div class="form-control mb-4">
                <label class="label">
                    <span class="label-text">Select Sector</span>
                </label>
                <select name="sector" class="select select-bordered w-full">
                    <option value="health">Health</option>
                    <option value="education">Education</option>
                    <option value="utility">Utility</option>
                </select>
            </div>


            <button type="submit" class="btn mt-4 btn-primary w-full">Assess Needs</button>
        </form>

        <div id="result" class="mt-4">
            <!-- Results will be displayed here -->
        </div>
    </div>

    <div class="card shadow-lg rounded-lg p-6">
        <h2 class="text-2xl font-bold mb-4">Details and Map</h2>
        <!-- Placeholder for map or table -->
        <div id="map" class="w-full h-64 rounded-lg">
            <!--map placeholder svg-->
            
        </div>
    </div>
</div>
<!--display results-->
<div class="card h-full shadow-lg rounded-lg p-6 mt-4">
    <h2 class="text-2xl font-bold mb-4">Results</h2>
    <div id="needs-assessment-results">
       <!--Empty svg icon -->
        <svg class="w-6 h-6 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        <p class="text-center">No results yet</p>
    </div>
</div>