{% load custom_filters %}
{% load static %}
<div class="px-4 fade-in">
  <div class="w-full lg:flex lg:justify-between items-start relative p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md">
    <!-- Main Content -->
    <div>
      <!-- Title and Actions -->
      <div>
        <h1 class="md:text-2xl text-lg font-bold text-gray-900 dark:text-white">{{population_projection.title|title}}</h1>
      </div>
      
      <!-- Description -->
      <div class="mt-4">
        {% if population_projection.description %}
        <p class="text-gray-700 dark:text-gray-300">{{population_projection.description}}</p>
        {% endif %}
        <p class="mt-2 text-gray-600 dark:text-gray-400"> 
          The population projection for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.
          This projection is from {{base_years.0}} to {{projection_years.last}}.
        </p>
  
        {% if population_projection.is_education_enrollment %}
        <!-- Education Enrollment Alert -->
        <div id="alertBox" class="bg-yellow-50 border border-yellow-400 text-yellow-700 px-4 py-3 rounded-lg shadow-md flex items-center mt-4">
          <i class="fas fa-info-circle mr-2"></i>
          <span>This is an education enrollment projection.</span>
        </div>
        {% endif %}
        
        <!-- Area Details -->
        <div class="mt-4 p-4 bg-blue-50 rounded-lg border border-blue-400">
          <div class="flex items-center gap-4">
            <span class="font-medium">
              <i class="fas fa-map-marker-alt text-blue-500 mr-2"></i>
              Area Type:
            </span>
            <span>{{population_projection.area_type|title}}</span>
          </div>
          <div class="flex items-center gap-4 mt-2">
            <span class="font-medium">
              <i class="fas fa-map text-blue-500 mr-2"></i>
              Area:
            </span>
            <span>{{population_projection.content_object.name|title}}</span>
          </div>
          <div class="flex items-center gap-4 mt-2">
            <span class="font-medium">
              <i class="fas fa-calendar-days text-gray-500 mr-2"></i>
              Created:
            </span>
            <span>{{population_projection.timestamp|date}}</span>
          </div>
        </div>


      </div>
    </div>
    
    <!-- Dropdown and Generate Report -->
    <div class="flex gap-2 items-center mt-4 lg:mt-0">
      <div class="dropdown dropdown-bottom">
        <button tabindex="0" class="m-1 p-2 bg-gray-100 dark:bg-gray-700 rounded-md hover:bg-gray-200 dark:hover:bg-gray-600">
          <i class="fa-solid fas fa-ellipsis-h text-gray-600 dark:text-gray-300"></i>
        </button>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-white dark:bg-gray-900 rounded-box w-52">
          <li>
            <a class="edit flex items-center space-x-2 hover:bg-gray-100 dark:hover:bg-gray-800 p-2 rounded-md" 
               hx-trigger="click" hx-target="#modal-content" 
               hx-on="htmx:afterOnLoad:my_modal_3.showModal()" 
               hx-get="{% url 'crud' %}?mode=update&id={{population_projection.pk}}">
              <i class="fa-solid fa-edit text-blue-600"></i>
              <span>Edit</span>
            </a>
          </li>
          <li>
            <a href="{% url 'delete_population_projection' population_projection.pk %}" hx-target="#main" hx-swap="innerHTML"
               class="deleteBtn flex items-center space-x-2 hover:bg-gray-100 dark:hover:bg-gray-800 p-2 rounded-md">
              <i class="fa-solid fa-trash text-red-600"></i>
              <span>Delete</span>
            </a>
          </li>
        </ul>
      </div>
  
      <!-- Generate Report Button (visible on all screen sizes) -->
      <div class="block">
        <a id="generateReportBtn" href="{% url 'generate_report' population_projection.slug %}"  
           class="btn-link cursor-pointer text-blue-600 hover:underline">
          <i class="fa-solid fa-file-pdf mr-2"></i>
          Generate Report
        </a>
      </div>
    </div>
  </div>
  
  
  <div id="alertBox" class=" transform  bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded-lg shadow-md flex items-baseline space-x-4 mb-4 mt-4">
    <i class="fas fa-info-circle"></i>
    <span>
      Note: Population projection is calculated on the basis of one year difference between the base year and the projecting year. E.g., from 2023 to 2024 will be calculated as 2023 to 2024, and so on.
    </span>

  </div>
  <div class="overflow-x-auto mt-8 bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md">
    <h3 class="font-bold md:text-xl text-lg text-gray-900 dark:text-white mb-2">Projection Results</h3>
    <p class="text-gray-600 dark:text-gray-300 mb-4">
        The table below shows the population projection for the <span class="font-medium">{{population_projection.content_object.name}}</span> 
        {{population_projection.area_type|title}}.
    </p>

    <table class="table-auto w-full border-collapse">
        <!-- Table Header -->
        <thead class="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300">
            <tr>
                <th class="text-sm 2xl:text-lg p-2 border-b dark:border-gray-600">Base Year</th>
                <th class="text-sm 2xl:text-lg p-2 border-b dark:border-gray-600">Projecting Year</th>
                <th class="text-sm 2xl:text-lg p-2 border-b dark:border-gray-600">Base Population</th>
                <th class="text-sm 2xl:text-lg p-2 border-b dark:border-gray-600">Projected Population</th>
                <th class="text-sm 2xl:text-lg p-2 border-b dark:border-gray-600">Growth Rate (%)</th>
            </tr>
        </thead>

        <!-- Table Body -->
        <tbody class="text-gray-900 dark:text-gray-100">
            {% for i in range %}
                <tr class="{% cycle 'bg-gray-50 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
                    <td class="p-2 border-b dark:border-gray-600 text-sm 2xl:text-lg">{{ base_years|index:i }}</td>
                    <td class="p-2 border-b dark:border-gray-600 text-sm 2xl:text-lg">{{ projection_years|index:i }}</td>
                    <td class="p-2 border-b dark:border-gray-600 text-sm 2xl:text-lg">{{ base_populations|index:i }}</td>
                    <td class="p-2 border-b dark:border-gray-600 text-sm 2xl:text-lg">{{ projected_populations|index:i }}</td>
                    <td class="p-2 border-b dark:border-gray-600 text-sm 2xl:text-lg">{{ growth_rate|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>


  <div class="mt-8">
    <h2 class="font-bold md:text-xl text-lg text-gray-900 dark:text-white">Visualized Data</h2>
    <p class="mt-2 text-gray-600 dark:text-gray-300">
        Graphical representation of the population projection for the <span class="font-medium">{{population_projection.content_object.name}}</span> 
        {{population_projection.area_type|title}}.
    </p>

    <!-- First Card with Population Projection -->
    <div class="card card-bordered w-full mt-8 rounded-md p-4 shadow-lg">
      <div class="flex justify-between mb-10 w-full">
        <div>
          <h3 class="font-bold md:text-lg">Line Chart of Population Projection</h3>
          <p class="mt-1 text-gray-600 text-sm">This line chart shows the population projection from {{base_years.0}} to {{projection_years.last}}.</p>
        </div>
        <!-- Dropdown on small screens -->
        <div class="block lg:hidden">
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn m-1"><i class="fa-solid fa-ellipsis-v"></i></label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-arrow-up text-green-500"></i>
                  <span class="text-green-500">Growth Rate: {{ growth_rate|floatformat:2 }}%</span>
                </div>
              </li>
              <li>
                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-users text-blue-500"></i>
                  <span>Total Population: {{ projected_populations.last }}</span>
                </div>
              </li>
              <li>
                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-person-arrow-up-from-line text-purple-500"></i>
                  <span>Total Projections: {{ projected_populations.count }}</span>
                </div>
              </li>
              <li>
                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-calendar-days text-yellow-500"></i>
                  <span>Year Span: {{base_years.0}} - {{projection_years.last}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
    
        <!-- Grid layout for larger screens -->
        <div class="hidden lg:flex">
          <div class="grid grid-cols-2 gap-3">
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-arrow-up text-green-500"></i>
              <p class="text-green-500">Growth Rate</p>
              <p class="text-green-500">{{ growth_rate|floatformat:2 }}%</p>
            </div>
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-users text-blue-500"></i>
              <p>Total Population:</p>
              <p class="">{{ projected_populations.last }}</p>
            </div>
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-person-arrow-up-from-line text-purple-500"></i>
              <p>Total Projections:</p>
              <p>{{ projected_populations.count }}</p>  
            </div>
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-calendar-days text-yellow-500"></i>
              <p>Year Span:</p>
              <p>{{base_years.0}} - {{projection_years.last}}</p>
            </div>
          </div>
        </div>

      </div>
      
      <canvas id="populationChart" height="230" data-labels='{{ projection_years|queryset_to_list }}' data-values='{{ projected_populations|queryset_to_list }}'></canvas>
    </div>
    
    

    <!-- Second Card with Additional Projection Data -->
    <div class="mt-12">
        <div class="card card-bordered w-full rounded-md p-6 bg-white dark:bg-gray-800 shadow-lg">
            <div class="flex justify-between items-center mb-6">
                <div>
                    <h3 class="font-bold md:text-lg text-gray-900 dark:text-white">Bar Chart of Population Projection</h3>
                    <p class="mt-1 text-gray-600 dark:text-gray-300 text-sm t">This bar chart shows the population projection from {{base_years.0}} to {{projection_years.last}}.</p>
                </div>
                <!-- Dropdown on small screens -->
                <div class="block lg:hidden">
                  <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn m-1"><i class="fa-solid fa-ellipsis-v"></i></label>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                      <li>
                        <div class="flex gap-2 items-center">
                          <i class="fa-solid fa-arrow-up text-green-500"></i>
                          <span class="text-green-500">Growth Rate: {{ growth_rate|floatformat:2 }}%</span>
                        </div>
                      </li>
                      <li>
                        <div class="flex gap-2 items-center">
                          <i class="fa-solid fa-users text-blue-500"></i>
                          <span>Total Population: {{ projected_populations.last }}</span>
                        </div>
                      </li>
                      <li>
                        <div class="flex gap-2 items-center">
                          <i class="fa-solid fa-person-arrow-up-from-line text-purple-500"></i>
                          <span>Total Projections: {{ projected_populations.count }}</span>
                        </div>
                      </li>
                      <li>
                        <div class="flex gap-2 items-center">
                          <i class="fa-solid fa-calendar-days text-yellow-500"></i>
                          <span>Year Span: {{base_years.0}} - {{projection_years.last}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
            
                <!-- Grid layout for larger screens -->
                <div class="hidden lg:flex">
                  <div class="grid grid-cols-2 gap-3">
                    <div class="flex gap-2 items-center">
                      <i class="fa-solid fa-arrow-up text-green-500"></i>
                      <p class="text-green-500">Growth Rate</p>
                      <p class="text-green-500">{{ growth_rate|floatformat:2 }}%</p>
                    </div>
                    <div class="flex gap-2 items-center">
                      <i class="fa-solid fa-users text-blue-500"></i>
                      <p>Total Population:</p>
                      <p class="">{{ projected_populations.last }}</p>
                    </div>
                    <div class="flex gap-2 items-center">
                      <i class="fa-solid fa-person-arrow-up-from-line text-purple-500"></i>
                      <p>Total Projections:</p>
                      <p>{{ projected_populations.count }}</p>  
                    </div>
                    <div class="flex gap-2 items-center">
                      <i class="fa-solid fa-calendar-days text-yellow-500"></i>
                      <p>Year Span:</p>
                      <p>{{base_years.0}} - {{projection_years.last}}</p>
                    </div>
                  </div>
                </div>
            </div>
            <canvas id="populationChart2" height="230" 
                    data-labels='{{ projection_years|queryset_to_list }}' 
                    data-values='{{ projected_populations|queryset_to_list }}'>
            </canvas>
        </div>
    </div>
  </div>

 

  <!--Needs Assessment-->
  <div class="mt-16">
    <div class="needs-assessment">
      <h2 class="font-bold md:text-2xl text-lg">Needs Assessment</h2>
      <p class="mt-2 text-gray-600 dark:text-white">Needs assessment for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.</p>
  
      <!-- Sectors navbar with toggle functionality -->
      <div class="mt-4">
        <nav class="bg-blue-950 md:h-[4rem] hidden md:block  rounded-md">
            <ul class="md:flex justify-around items-center h-full py-3 px-5 hidden sm:flex">
                {% if not population_projection.is_education_enrollment %}
                <li>
                    <a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=health"
                       class="sectorBtn bg-white text-blue-950 hover:text-gray-200 hover:bg-gray-700 active rounded-md py-2 px-4">
                        <i class="fa-solid fa-heartbeat text-red-500 mr-2"></i>
                        Health
                    </a>
                </li>
                {% endif %}
                {% if population_projection.is_education_enrollment %}
                <li>
                    <a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=education"
                       class="sectorBtn {% if population_projection.is_education_enrollment %} bg-white text-blue-950 btn btn-sm hover:bg-gray-200 active {% else %} text-white hover:text-gray-200 {% endif %} rounded-md py-2 px-4">
                        <i class="fa-solid fa-graduation-cap text-yellow-500 mr-2"></i>
                        Education
                    </a>
                </li>
                {% endif %}
                {% if not population_projection.is_education_enrollment %}
                <li>
                    <a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=utility"
                       class="sectorBtn text-white hover:text-gray-200 hover:bg-gray-700 rounded-md py-2 px-4">
                        <i class="fa-solid fa-bolt text-green-500 mr-2"></i>
                        Utility
                    </a>
                </li>
                <li>
                    <a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=infrastructure"
                       class="sectorBtn text-white hover:text-gray-200 hover:bg-gray-700 rounded-md py-2 px-4">
                        <i class="fa-solid fa-road text-blue-500 mr-2"></i>
                        Infrastructure
                    </a>
                </li>
                {% endif %}
            </ul>
    
            
        </nav>
        <!-- Dropdown for Small Screens -->
        <div class="dropdown dropdown- sm:hidden w-full mt-2 mb-4">
          <div tabindex="0" class="px-4 py-2 border border-blue-600 w-full justify-between rounded-md cursor-pointer"
               onclick="toggleDropdown(this)">
              <span class="w-full">Choose Sector</span>
              <i class="fa-solid fa-chevron-down ml-2"></i>
          </div>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-white rounded-box w-full">
              {% if not population_projection.is_education_enrollment %}
              <li>
                  <a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=health"
                     class="sectorBtn text-blue-950 hover:bg-gray-200 rounded-md py-2" onclick="closeDropdown(this)">
                      <i class="fa-solid fa-heartbeat text-red-500 mr-2"></i>
                      Health
                  </a>
              </li>
              {% endif %}
              {% if population_projection.is_education_enrollment %}
              <li>
                  <a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=education"
                     class="sectorBtn text-blue-950 hover:bg-gray-200 rounded-md py-2" onclick="closeDropdown(this)">
                      <i class="fa-solid fa-graduation-cap text-yellow-500 mr-2"></i>
                      Education
                  </a>
              </li>
              {% endif %}
              {% if not population_projection.is_education_enrollment %}
              <li>
                  <a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=utility"
                     class="sectorBtn text-blue-950 hover:bg-gray-200 rounded-md py-2" onclick="closeDropdown(this)">
                      <i class="fa-solid fa-bolt text-green-500 mr-2"></i>
                      Utility
                  </a>
              </li>
              <li>
                  <a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=infrastructure"
                     class="sectorBtn text-blue-950 hover:bg-gray-200 rounded-md py-2" onclick="closeDropdown(this)">
                      <i class="fa-solid fa-road text-blue-500 mr-2"></i>
                      Infrastructure
                  </a>
              </li>
              {% endif %}
          </ul>
        </div>
      
      <script>
          function toggleDropdown(dropdown) {
              const menu = dropdown.nextElementSibling;
              menu.classList.toggle('hidden');
          }
      
          function closeDropdown(item) {
              const dropdown = item.closest('.dropdown');
              const menu = dropdown.querySelector('.dropdown-content');
              menu.classList.add('hidden');
          }
      </script>
      
      </div>
    
      
      
    
    
    </div>
  
    <!-- Needs Assessment for selected sector -->
    <div id="sector" class="mt-4">
      {% include 'partials/health_sector.html' %}
    </div>
  </div>
  

  <!--Map Prediction-->
  <div class="mt-4">
    <h2 class="font-bold md:text-xl text-lg">Map Prediction</h2>
    <p class="mt-2">Map prediction for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.</p>
    {% if map_predictions %}
    {% for map_prediction in map_predictions %}
        <div class="card card-bordered w-full mt-8 rounded-md p-4">
            <div class="md:flex justify-between mb-4">
                <div class="mb-4 md:mb-0">
                    <h3 class="font-bold text-lg">{{map_prediction}}</h3>
                    <p class="mt-2">Map prediction for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.</p>
                </div>
                <div class="md:text-right">
                    <!-- Total facility placed, facility type, and number placed -->
                    <div class="">
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-map-marker-alt text-red-500"></i>
                            <p>Facilities Placed:</p>
                            <p>{{ map_prediction.facility_coordinates_and_area_name.count }}</p>
                        </div>
                        <div class="flex gap-2 items-center mt-2">
                            <i class="fa-solid fa-hospital-user text-blue-500"></i>
                            <p>Facility Type:</p>
                            {% for facility in map_prediction.facility_coordinates_and_area_name.all %}
                                <p class="badge badge-primary">{{ facility.facility_name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- View map prediction button-link -->
            <div class="mb-4">
                <button hx-get="{% url 'get_map_prediction' map_prediction.slug %}" class="link link-primary" hx-push-url="true" hx-target="#main">
                    <i class="fa-solid fa-map"></i>
                    View Map Prediction
                </button>
            </div>

            <h1 class="font-bold text-lg">Facilities Coordinates</h1>
            <p class="mt-2">Facilities coordinates for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.</p>
            {% for facility in map_prediction.facility_coordinates_and_area_name.all %}
            <div id="facility-{{forloop.counter}}" class="flex flex-col md:flex-row justify-between p-4 bg-gray border  shadow-sm rounded-lg mb-8 mt-2 facility_Coordinate">
                <div class="flex items-center gap-2">
                    <i class="fas fa-map-marker-alt text-red-500 text-xl"></i>
                    <span class="font-semibold text-gray-700">{{ facility.facility_name }}</span>
                   
                </div>
                <div class="mt-4 md:mt-0">
                    <div class="text-sm text-gray-500">
                        
                        <span class="facilityCoordinate">
                          <i class="fas fa-map-pin mr-2 text-blue-500"></i>
                          Lon: {{ facility.longitude }} </span> <br>
                        <span class="facilityCoordinate">
                          <i class="fas fa-map-pin mr-2 text-blue-500"></i>
                          Lat: {{ facility.lattitude }}</span>
                    </div>
                    <div class="text-sm text-gray-500">
                        <i class="fas fa-chart-area mr-2 text-green-500"></i>
                        <span class="name">{{ facility.area_name }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Alert -->
            <div id="alertBox" class="transform bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded-lg shadow-md flex items-center space-x-4 mb-4">
                <i class="fas fa-info-circle"></i>
                <span>
                    This image shows the map prediction of health facilities for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.
                </span>
            </div>

            {% if map_prediction.image %}
                <img src="{{map_prediction.image.url}}" alt="{{map_prediction}}" class="w-full h-96 object-cover rounded-md">
            {% else %}
                <div class="text-center text-gray-500">No image available</div>
            {% endif %}
        </div>
    {% endfor %}
    {% else %}
        <div class="text-center text-gray-500">
            <i class="fas fa-exclamation-triangle"></i>
            No map prediction data available.
        </div>

        {% if population_projection.is_education_enrollment %}
        <!-- Alert indicating this is an education enrollment projection -->
        <div id="alertBox" class="transform bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded-lg shadow-md flex items-baseline space-x-4 mb-4 mt-4">
            <i class="fas fa-info-circle"></i>
            <span>
                This is an education enrollment projection and can't have map prediction data.
            </span>
        </div>
        {% endif %}
    {% endif %}
</div>


</div>
<script type="module">
  import {initializeChart} from "{% static 'js/export_chart.js' %}";

  // scroll to top of the page smoothly
  window.scrollTo({ top: 0, behavior: 'smooth' });
  initializeChart()
    // change url when the page is loaded by htmx
    
    let url = "{% url 'population_projection' population_projection.slug %}"
    history.pushState({}, '', url);
    
  // make a request to the health sector by default
  htmx.ajax('GET', "{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector={% if population_projection.is_education_enrollment %}education{%else%}health{%endif%}",{
    target: '#sector',
    historyUpdate: true,
    swap: 'innerHTML',  
  })

  document.querySelector('.deleteBtn').addEventListener('click', (e)=>{
      e.preventDefault()
      let url = e.target.getAttribute('href')
      swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this data!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
          })
          .then((willDelete) => {
              if (willDelete) {
                htmx.ajax('DELETE', url, {
                  target: '#main',
                  historyUpdate: true,
                  swap: 'innerHTML',
                })
                .then(() => {
                  history.pushState({}, '', '/dashboard');

                  // sweet alert
                  swal({
                      title: "Data Deleted",
                      text: "Data has been successfully deleted",
                      icon: "success",
                      button: "Ok",
                  })
                })
              }
          });
  })



  // make a request to the sector when the button is clicked
  document.querySelectorAll('.sectorBtn').forEach(btn => {
    btn.addEventListener('click', function(e) {
        e.preventDefault();

        // Check screen size
        const isSmallScreen = window.innerWidth <= 640; // 640px is usually the breakpoint for small screens

        // Only run the class toggle logic if it's not a small screen
        if (!isSmallScreen) {
            // Remove active classes and reset styles
            document.querySelectorAll('.sectorBtn').forEach(button => {
                button.classList.remove('bg-white', 'text-black', 'active');
                button.classList.add('text-white');
                button.style.color = 'white';
            });

            // Add active classes to the clicked button
            btn.classList.add('bg-white', 'text-black', 'active');
            btn.style.color = 'black';
        }
        document.getElementById('sector').innerHTML = `
            <!--loading spinner-->
            <div class="flex items-center justify-center h-full mt-2 mb-8">
                <div class="animate-spin rounded-full border-4 border-blue-500 border-t-transparent h-16 w-16"></div>
            </div>
            <!--Loading...-->
            <div class="text-center text-gray-500 mt-4">Loading...</div>
        `;

        // HTMX request to load content
        htmx.ajax('GET', btn.href, {
            target: '#sector',
            historyUpdate: true,
            swap: 'innerHTML'
        }).then(() => {
            document.getElementById('sector').scrollIntoView({ behavior: 'smooth' });
        });
    });
  });


 document.getElementById('sector').addEventListener('htmx:afterSwap', ()=> {
    let viewMoreLessBtns = document.querySelectorAll('.view-more-less');
    viewMoreLessBtns.forEach(btn => {
      btn.addEventListener('click', function(e){
        e.preventDefault();
        const card = btn.closest('.card');
        const hiddenRows = card.querySelectorAll('.need-row.hidden');
        const visibleRows = card.querySelectorAll('.need-row');
        

        if (btn.textContent === 'View More') {
            hiddenRows.forEach(row => row.classList.remove('hidden'));
            btn.textContent = 'View Less';
            card.scrollIntoView({ behavior: 'smooth' });
        } 
        else {
          visibleRows.forEach((row, index) => {
              if (index >= 5) {
                  row.classList.add('hidden');
              }
          });
          btn.textContent = 'View More';
          card.scrollIntoView({ behavior: 'smooth' });
        }
      });
    })

    let needsAssessmentSlug = document.getElementById('hidden').value
    let deleteBtns = document.querySelectorAll('.deleteBtn')
    let editBtns = document.querySelectorAll('.editBtn')
    deleteBtns.forEach(deleteBtn => {
      deleteBtn.addEventListener('click', (e)=> {
            e.preventDefault()
            let parent = e.target.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement
            console.log(parent)

            //get hidden input value from parent
            let hidden = parent.querySelector('input[type="hidden"]')
            let needType = hidden.value
            
            let url = '/needs-assessment/' + needsAssessmentSlug + '/need/'+ needType + '/delete'
            
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        fetch(url, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        }
                        ).then(response => response.json())
                        .then(data => {
                            console.log(data)
                            history.pushState({}, '', );
                            document.getElementById('main').innerHTML = data.template;

                            // initializeChart()
                            // sweet alert
                            swal({
                                title: "Data Deleted",
                                text: "Data has been successfully deleted",
                                icon: "success",
                                button: "Ok",
                            })
                        
                        })
                        .catch(error => {
                            console.log(error);
                        });
                    } 
                    else {
                        swal("Your data is safe!");
                    }
                });
        })
    })

    editBtns.forEach(editBtn => {
      editBtn.addEventListener('click', (e) => {
                e.preventDefault();
                swal({
                    title: "Edit",
                    text: "Do you want to edit this item?",
                    icon: "info",
                    buttons: ["No", "Yes"],
                    dangerMode: false
                })
                .then((willEdit) => {
                    if (willEdit) {
                        let url = e.target.getAttribute('href')
                        // htmx ajax request
                        htmx.ajax('GET', url, { 
                            target: '#main', 
                            swap: 'innerHTML', 
                            pushUrl: true,
                        })
                        history.pushState({}, '', url);
                        
                    }
                });
            });
    });
  })

  document.getElementById('generateReportBtn').addEventListener('click', (e)=>{
    e.preventDefault()
    let url = e.target.getAttribute('href')
    swal({
        title: "Generate Report",
        text: "Do you want to generate a report for this population projection?",
        icon: "info",
        buttons: ["No", "Yes"],
        dangerMode: false
    })
    .then((willGenerate) => {
        if (willGenerate) {
            let modal_content = document.getElementById('modal-content')
            let form_header = document.getElementById('form-header')
            form_header.innerHTML = `<h3 class="font-bold text-lg text-center">Generate Report</h3>`
            modal_content.innerHTML = `
            <!--loading spinner-->
            <div class="flex items-center justify-center h-full mt-2">
                <div class="animate-spin rounded-full border-4 border-blue-500 border-t-transparent h-16 w-16"></div>
            </div>
            <!--Loading...-->
            <div class="text-center text-gray-500 mt-4">generating...</div>
            `  
            my_modal_3.showModal()
            console.log(e.target)
            // htmx ajax request
            htmx.ajax('GET', url, { 
                target: document.getElementById('main'), 
                swap: 'innerHTML', 
            })
            .then(() => {
                // close modal
                my_modal_3.close()
                swal({
                    title: "Report Generated",
                    text: "Report has been successfully generated",
                    icon: "success",
                    button: "Ok",
                })
                history.pushState({}, '', e.target.href);
            })
            


        }
    });
  })



</script>
