{% load custom_filters %}
<div class="px-4 overflow-y-auto">
  <div>
    <div class="w-full lg:flex lg:justify-between">
      <div>
        <div class="flex lg:gap-8 justify-between w-full">
          <h1 class="text-2xl font-bold">{{population_projection.title|title}}</h1>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="m-1 py-1 px-2 hover:bg-base-300 rounded-md"><i class="fa-solid fas fa-ellipsis-h"></i></div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a class="edit" hx-trigger="click" hx-target="#modal-content" hx-on="htmx:afterOnLoad:my_modal_3.showModal()" hx-get="{% url 'crud' %}?mode=update&id={{population_projection.pk}}">Edit</a></li>
              <li><a hx-target="#modal-content" hx-swap="innerHTML" hx-get="{% url 'crud' %}?mode=delete&id={{population_projection.pk}}"class="delete" data-value="{{population_projection.slug}}" hx-on="htmx:afterOnLoad:my_modal_3.showModal()">Delete</a></li>
            </ul>
          </div>
        </div>
        
        <div class="mt-2">
          {% if population_projection.description %}
          <p class="mt-2">{{population_projection.description}}</p>
          {% endif %}
          <p class="mt-1 text-gray-600 dark:text-white">Projecting from {{base_years.0}} to {{projection_years.last}} for {{population_projection.content_object}} {{population_projection.area_type|title}}.</p>
          <p class="mt-2 text-gray-600 dark:text-white ">Area Type: {{population_projection.area_type|title}}</p>
          <p class="mt-2 text-gray-600 dark:text-white">Created: {{population_projection.timestamp|date}}</p>
        </div>
        
      </div>
        
        <div class="gap-5 hidden lg:flex">
          <!--Generate report button-->
          <a href="{% url 'generate_report' population_projection.slug %}" class="btn btn-md btn-primary">Generate Report</a>

          <!--  -->

        </div>
        <div class="dropdown dropdown-end absolute right-3 top-3">
          <div tabindex="0" role="button" class="m-1 p-1 bg-base-300 rounded-md"><i class="fa-solid fa-ellipsis-vertical"></i></div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Edit</a></li>
            <li><a>Delete</a></li>
          </ul>
        </div>
          
    </div>
    <div class="overflow-x-auto mt-8">
      <h3 class="font-bold text-xl mb-1">Results Of Projection</h3>
      <p class="text-gray-600 dark:text-white mb-4">The table below shows the population projection for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.</p>
      
      <table class="table table-md xl:table-lg">
          <!-- head -->
          <thead>
            <tr>
              <th class="text-sm 2xl:text-lg">Base Year</th>
              <th class="text-sm 2xl:text-lg">Projecting Year</th>
              <th class="text-sm 2xl:text-lg">Base Population</th>
              <th class="text-sm 2xl:text-lg">Projected Population</th>
              <th class="text-sm 2xl:text-lg">Growth Rate (%)</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range %}
              <tr class="{% cycle 'bg-base-200' '' %}">
                  <td class="">{{ base_years|index:i }}</td>
                  <td class="">{{ projection_years|index:i }}</td>
                  <td class="">{{ base_populations|index:i }}</td>
                  <td class="">{{ projected_populations|index:i }}</td>
                  <td class="">{{ growth_rate|floatformat:2 }}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>

    <h2 class="font-bold mt-8 text-xl">Visualized Data</h2>
    <p class="mt-2 text-gray-600 dark:text-white">Graphical representation of the population projection for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.</p>
      <div class="card card-bordered w-full mt-8 rounded-md p-4">
        <div class="flex justify-between mb-10">
          <div>
            <h3 class="font-bold text-lg">Population Projection</h3>
            <p class="mt-2">Population projection for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.</p>
          </div>
          <div>
           <!--output showing arrows of rate of years for 3 data-->
            <div class="grid grid-cols-2 gap-3">
              <div class="flex gap-2 items-center">
                <i class="fa-solid fa-arrow-up text-green-500"></i>
                <p class="text-green-500">Growth Rate</p>
                <p class="text-green-500">{{ growth_rate|floatformat:2 }}%</p>
              </div>
              <div class="flex gap-2 items-center">
                <!--Total projected population-->
                <i class="fa-solid fa-users"></i>
                <p>Total Population:</p>
                <p class="">{{ projected_populations.last }}</p>
              </div>
              <!--Total Projections-->
              <div class="flex gap-2 items-center">
                <i class="fa-solid fa-person-arrow-up-from-line"></i>
                <p>Total Projections:</p>
                <p>{{ projected_populations.count }}</p>  
              </div>

              <!--Year span of projections-->
              <div class="flex gap-2 items-center">
                <i class="fa-solid fa-calendar-days"></i>
                <p>Year Span:</p>
                <p>{{base_years.0}} - {{projection_years.last}}</p>
              </div>
            </div>

          
        </div>
        </div>
        <canvas id="populationChart" height="{% if diff_year < 4 %} 150 {% else %} 200 {%endif%}" data-labels='{{ projection_years|queryset_to_list }}' data-values='{{ projected_populations|queryset_to_list }}'></canvas>
      </div>
    <div class="  mt-12">
        
        <div class="card-bordered w-full rounded-md p-4">
          <div class="flex justify-between mb-10">
            <div>
              <h3 class="font-bold text-lg">Population Projection</h3>
              <p class="mt-2">Population projection for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.</p>
            </div>
            <div>
             <!--output showing arrows of rate of years for 3 data-->
              <div class="grid grid-cols-2 gap-3">
                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-arrow-up text-green-500"></i>
                  <p class="text-green-500">Growth Rate</p>
                  <p class="text-green-500">{{ growth_rate|floatformat:2 }}%</p>
                </div>
                <div class="flex gap-2 items-center">
                  <!--Total projected population-->
                  <i class="fa-solid fa-users"></i>
                  <p>Total Population:</p>
                  <p class="">{{ projected_populations.last }}</p>
                </div>
                <!--Total Projections-->
                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-person-arrow-up-from-line"></i>
                  <p>Total Projections:</p>
                  <p>{{ projected_populations.count }}</p>  
                </div>
  
                <!--Year span of projections-->
                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-calendar-days"></i>
                  <p>Year Span:</p>
                  <p>{{base_years.0}} - {{projection_years.last}}</p>
                </div>
              </div>
  
            
            </div>
          </div>
          <div class="">
            <canvas class="" width="" height="100" data-labels='{{ projection_years|queryset_to_list }}' data-values='{{ projected_populations|queryset_to_list }}' id="populationChart2">

            </canvas>
          </div>
         
        </div> 
        
       
    </div>
  </div>
 

  <!--Needs Assessment-->
  <div class="mt-16">
    <div class="needs-assessment">
      <h2 class="font-bold text-xl">Needs Assessment</h2>
      <p class="mt-2">Needs assessment for the {{population_projection.content_object.name}} {{population_projection.area_type|title}}.</p>
      <!--Sectors navbar and make toggle between clicked-->
      <div>
        <nav class="bg-blue-950 h-[5rem] mt-2 rounded-md">
          <ul class="flex gap-8 items-center h-full py-3 px-5">
            <li><a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=health" class="btn bg-white sectorBtn active">Health</a></li>
            <li><a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=education" class=" text-white sectorBtn">Education</a></li>
            <li><a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=agriculture" class="text-white sectorBtn">Agriculture</a></li>
            <li><a href="{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=infrastructure" class="text-white sectorBtn">Infrastructure</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!--Needs Assessment for health sector-->
    <div id="sector">
        {% include 'partials/health_sector.html' %}
    </div>
  </div>

</div>
<script>
  
  

  // make a request to the health sector by default
  htmx.ajax('GET', "{% url 'get_needs_assessment_for_population_projection' population_projection.slug %}?sector=health",{
    target: '#sector',
    historyUpdate: true,
    swap: 'innerHTML',  
  })

  document.querySelectorAll('.sectorBtn').forEach(btn => {
      btn.addEventListener('click', function(e){
        e.preventDefault();
        // make the clicked button active
        document.querySelectorAll('.sectorBtn').forEach(button => {button.classList.remove('bg-white' , 'btn', 'active')
          button.classList.add('text-white')
          button.style.color = 'white';
        }
      );

        btn.classList.add('btn', 'text-black', 'active');
        btn.style.color = 'black';
        const sector = btn.textContent.toLowerCase();
        const url = btn.href
        const sectorDiv = document.getElementById('sector');
        
        //htmx request
        htmx.ajax('GET', url,{
          target: '#sector',
          historyUpdate: true,
          swap: 'innerHTML',  
        }).then(() => {
          // scroll to the sector div
          sectorDiv.scrollIntoView({ behavior: 'smooth' });
        });
        
      });
  })

 document.getElementById('sector').addEventListener('htmx:afterSwap', ()=> {
    let viewMoreLessBtns = document.querySelectorAll('.view-more-less');
    viewMoreLessBtns.forEach(btn => {
      btn.addEventListener('click', function(e){
        e.preventDefault();
        const card = btn.closest('.card');
        const hiddenRows = card.querySelectorAll('.need-row.hidden');
        const visibleRows = card.querySelectorAll('.need-row');
        

        if (btn.textContent === 'View More') {
            hiddenRows.forEach(row => row.classList.remove('hidden'));
            btn.textContent = 'View Less';
            card.scrollIntoView({ behavior: 'smooth' });
        } 
        else {
          visibleRows.forEach((row, index) => {
              if (index >= 5) {
                  row.classList.add('hidden');
              }
          });
          btn.textContent = 'View More';
          card.scrollIntoView({ behavior: 'smooth' });
        }
      });
    })

    let needsAssessmentSlug = document.getElementById('hidden').value
    let deleteBtns = document.querySelectorAll('.deleteBtn')
    let editBtns = document.querySelectorAll('.editBtn')
    deleteBtns.forEach(deleteBtn => {
      deleteBtn.addEventListener('click', (e)=> {
              
            let parent = e.target.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement
            console.log(parent)

            //get hidden input value from parent
            let hidden = parent.querySelector('input[type="hidden"]')
            let needType = hidden.value
            
            let url = '/needs-assessment/' + needsAssessmentSlug + '/need/'+ needType + '/delete'
            
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        fetch(url, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        }
                        ).then(response => response.json())
                        .then(data => {
                            console.log(data)
                            history.pushState({}, '', );
                            document.getElementById('main').innerHTML = data.template;

                            // initializeChart()
                            // sweet alert
                            swal({
                                title: "Data Deleted",
                                text: "Data has been successfully deleted",
                                icon: "success",
                                button: "Ok",
                            })
                        
                        })
                        .catch(error => {
                            console.log(error);
                        });
                    } 
                    else {
                        swal("Your data is safe!");
                    }
                });
        })
    })

    editBtns.forEach(editBtn => {
      editBtn.addEventListener('click', (e) => {
                e.preventDefault();
                swal({
                    title: "Edit",
                    text: "Do you want to edit this item?",
                    icon: "info",
                    buttons: ["No", "Yes"],
                    dangerMode: false
                })
                .then((willEdit) => {
                    if (willEdit) {
                        let url = e.target.getAttribute('href')
                        // htmx ajax request
                        htmx.ajax('GET', url, { 
                            target: '#main', 
                            swap: 'innerHTML', 
                            pushUrl: true,
                        })
                        history.pushState({}, '', url);
                        
                    }
                });
            });
    });
  })


</script>
