{% load custom_filters %}
{% load static %}
<div class="container mx-auto px-4 fade-in">
    <div class="flex justify-between ">
      <div>
        <h1 class="text-2xl font-bold">Dashboard</h1>
        <p class="mt-2">Welcome to the dashboard</p>
      </div>
      
      <div class="text-sm breadcrumbs hidden md:block">
        <ul>
          <li><a href="#populationProjection">Population Projection</a></li> 
          <li><a href="#needsAssessment">Needs Assessment</a></li> 
          <li><a href="#">Map Prediction</a></li>
        </ul>
      </div>
    </div>
    
    {% if population_projections %}
    <div id="populationProjection" class="grid grid-cols-1 gap-4 mt-4 md:grid-cols-2 lg:grid-cols-3 h-fit">
      {% for population_projection in population_projections %}
          <!--Graph card-->
          <div class="card-bordered shadow-lg card relative card-item">
              <div class="dropdown dropdown-end absolute right-3 top-3">
                  <div tabindex="0" role="button" class="m-1 py-1 px-2 hover:bg-base-300 rounded-md">
                      <i class="fa-solid fas fa-ellipsis-h"></i>
                  </div>
                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                      <li>
                          <a class="edit" hx-trigger="click" hx-target="#modal-content" hx-on="htmx:afterOnLoad:my_modal_3.showModal()" hx-get="{% url 'crud' %}?mode=update&id={{ population_projection.pk }}">
                            <i class="fas fa-edit"></i>
                            Edit</a>
                      </li>
                      <li>
                          <a class="deleteBtn" href="{% url 'delete_population_projection' population_projection.pk %}">
                            <i class="fas fa-trash-alt"></i>
                            Delete</a>
                      </li>
                  </ul>
              </div>
              <div class="card-body p-5">
                  <h2 class="card-title text-lg">{{ population_projection.title|truncatewords:3 }}</h2>
                  {% if population_projection.description %}
                      <p class="mb-2">{{ population_projection.description|truncatewords:5 }}</p>
                  {% else %}
                      <p class="mb-1 text-sm">Population Projection from {{ population_projection.projections.all.0.base_year }} to {{ population_projection.projections.all.last.projecting_year|truncatewords:0 }}</p>
                  {% endif %}
                  <div>
                      {% with projections=population_projection.projections.all %}
                          {% with base_years=projections|get_base_years projected_population=projections|get_projected_population %}
                              <canvas class="populationProjectionChart" data-labels='{{ base_years }}' class="w-full" height="200" data-values='{{ projected_population }}'></canvas>
                          {% endwith %}
                      {% endwith %}
                  </div>
                  <button href="{% url 'population_projection' population_projection.slug %}" hx-get="{% url 'population_projection' population_projection.slug %}" class="btn btn-primary" hx-push-url="true" hx-target="#main" hx-swap="innerHTML">View Projection</button>
              </div>
          </div>
      {% endfor %}
  </div>
  

      {% else %}
      <div class="flex justify-center items-center h-[20rem] flex-col">
        <!--Oops!-->
        <p class="text-center flex items-center gap-2 mb-4">
          <i class="fa-solid fa-exclamation-circle text-4xl text-red-500"></i>
          Oops! No population projection found</p>
        <button hx-trigger="click" hx-get="{% url 'crud' %}?mode=create" hx-target="#modal-content" hx-swap="innerHTML" hx-on="htmx:afterOnLoad:my_modal_3.showModal()" class="btn btn-primary">
          + new projection
        </button>
      </div>
    {% endif %}

    <!--Needs Assessment-->
    <div class="mt-[4rem]" id="needsAssessment">
      <h2 class="text-xl font-bold mt-8">Needs Assessment</h2>
      <p class="mt-2 w-[30rem]">Recently created need assessments</p>

      
      {% if needs_assessments %}
      <div class="grid grid-cols-1 gap-4 mt-4 md:grid-cols-2 lg:grid-cols-3 h-fit">
        
        {% for need in needs_assessments %}
        <!-- Card Container -->
          <div class="card-bordered shadow-lg relative rounded-lg overflow-hidden">
            <!-- Card Image with Overlay -->
            <div class="relative">
              <img src="{% static 'img/need.jpg' %}" alt="needs assessment" class="w-full h-40 object-cover">
              <div class="absolute inset-0 bg-black bg-opacity-70 flex p-6 gap-3">
                <!--Needs assessment icon-->
                <i class="fa-solid fa-clipboard-list text-white text-4xl"></i>
                <div>
                  <h2 class="text-white text-lg font-bold z-10 tracking-widest">Needs Assessment for {{ need.population_projection|title|truncatewords:1 }}</h2>
                  <div class="flex items-center gap-2 mt-2">
                    <i class="fa-solid fa-calendar-days text-blue-500"></i>
                    <span class="text-white">{{ need.created_at|date:"F d, Y" }}</span>
                  </div>

                  <div class="flex items-center gap-2 mt-2">
                    <i class="fa-solid fa-user text-blue-500"></i>
                    <span class="link text-blue-500">{{ request.user }}</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card Body -->
            <div class="p-5">
              <div class="flex justify-between items-start">
                <div>
                  <p class="text-gray-500 text-sm">Assessed need within the {{ need.needs.all.0.sector }} sector for {{ need.population_projection|title|truncatewords:2}}</p>
                </div>
                <div class="dropdown dropdown-end relative">
                  <div tabindex="0" role="button" class="py-1 px-2 hover:bg-gray-200 rounded-md">
                    <i class="fa-solid fas fa-ellipsis-h"></i>
                  </div>
                  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-white rounded-box w-52">
                    <li>
                      <a class="edit" hx-trigger="click" hx-target="#modal-content" hx-on="htmx:afterOnLoad:my_modal_3.showModal()" hx-get="{% url 'manage_need_assessment' need.slug %}">
                        <i class="fas fa-edit"></i>
                        Edit</a>
                    </li>
                    <li>
                      <a class="deleteNeedsAssessmentBtn" href="{% url 'delete_needs_assessment' need.slug  %}" class="">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Categories Badge for Needs Type -->
              <div class="flex items-center gap-1 mt-2">
                <span>
                  <i class="fa-solid fa-tags"></i>
                  <span class="font-medium">Needs:</span>
                </span>
                <div class="flex gap-2">
                  {% for needs_type in need.needs.all|get_needs_type %}
                  <span class="badge badge-primary {% if forloop.counter > 2 %}hidden{% endif %}">{{ needs_type|truncatewords:1 }}</span>
                  {% if forloop.counter == 2 %}
                  {% if need.needs.all|get_needs_type|length|subtract:2 > 0 %}
                    <span class="badge badge-primary">+{{ need.needs.all|get_needs_type|length|subtract:2 }}  
                    </span>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                </div>
              </div>

              <!-- Details -->
              <div class="grid grid-cols-1 gap-y-2 mt-2">
                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-calendar-days text-blue-500"></i>
                  <span class="font-medium">Year:</span>
                  <span>{{ need.population_projection.projections.all.0.base_year }} - {{ need.population_projection.projections.last.projecting_year }}</span>
                </div>

                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-map-marked-alt text-blue-500"></i>
                  <span class="font-medium">Area:</span>
                  <span>{{ need.population_projection.content_object.name|title }}</span>
                </div>

                <!-- <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-users text-blue-500"></i>
                  <span class="font-medium">Base Population:</span>
                  <span>{{ need.population_projection.projections.all.0.base_population }}</span>
                </div>

                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-person-arrow-up-from-line text-blue-500"></i>
                  <span class="font-medium">Projected Population:</span>
                  <span>{{ need.population_projection.projections.last.projected_population }}</span>
                </div> -->

                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-map-marked-alt text-blue-500"></i>
                  <span class="font-medium">Area Type:</span>
                  <span>{{ need.population_projection.area_type|title }}</span>
                </div>

                <div class="flex gap-2 items-center">
                  <i class="fa-solid fa-map-marked-alt text-blue-500"></i>
                  <span class="font-medium">Sector:</span>
                  <span>{{ need.needs.all.0.sector|title }}</span>
                </div>
              </div>

              <!-- View More Button -->
              <div class="mt-4">
                <button hx-get="{% url 'manage_need_assessment' need.slug %}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true" href="{% url 'manage_need_assessment' need.slug %}" class="btn btn-primary w-full">View more</button>
              </div>
            </div>
          </div>

        {% endfor %}

      </div>
      {% else %}
      <div class="flex justify-center items-center h-[20rem] flex-col">
        <!--Oops!-->
        <p class="text-center flex items-center gap-2 mb-4">
          <i class="fa-solid fa-exclamation-circle text-4xl text-red-500"></i>
          Oops! No need assessment found</p>
        <button hx-trigger="click" hx-push-url="{% url 'create_need_assessment' %}" hx-get="{% url 'create_need_assessment' %}"hx-target="#main" hx-on="htmx:afterOnLoad:handleSectorSelection" hx-swap="innerHTML"class="btn btn-primary">
          + new assessment
        </button>
      </div>
      {% endif %}
        
          
    </div>

    <!--Map Prediction-->
    <div class="mt-[4rem]">
      <h2 class="text-2xl font-bold text-gray-800">Map Prediction</h2>
      <p class="mt-2 text-gray-600 w-[30rem]">Predicted population distribution on the map</p>
      <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {% for map_prediction in map_predictions %}
          <div class="card card-bordered shadow-lg rounded-lg overflow-hidden relative">
              <div class="relative">
                  <img src="{{ map_prediction.image.url }}" alt="{{ map_prediction.title }}" class="w-full h-48 object-contain">
                  <div class="dropdown dropdown-end absolute right-2 top-2 z-10">
                      <div tabindex="0" role="button" class="text-white bg-black bg-opacity-50 p-1 rounded-full hover:bg-opacity-75">
                          <i class="fa-solid fas fa-ellipsis-h"></i>
                      </div>
                      <ul tabindex="0" class="dropdown-content z-20 menu p-2 shadow bg-white rounded-lg w-52">
                          <li>
                              <a class="edit flex items-center" hx-trigger="click" hx-target="#modal-content" hx-on="htmx:afterOnLoad:my_modal_3.showModal()" hx-get="{% url 'crud' %}?mode=update&id={{ map_prediction.pk }}">
                                  <i class="fas fa-edit mr-2"></i> Edit
                              </a>
                          </li>
                          <li>
                              <a class="deleteBtn flex items-center" href="">
                                  <i class="fas fa-trash-alt mr-2"></i> Delete
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="card-body p-5 bg-white">
                  <h2 class="card-title text-lg font-bold text-gray-800">{{ map_prediction|truncatewords:4 }}</h2>
                  {% if map_prediction.description %}
                      <p class="text-gray-600 mb-2">{{ map_prediction.description|truncatewords:5 }}</p>
                  {% else %}
                      <p class="text-sm text-gray-500 mb-2">Predicted population distribution on the map</p>
                  {% endif %}
                  <div class="flex items-center gap-2">
                      <i class="fa-solid fa-calendar-days text-blue-500"></i>
                      <span class="text-gray-500">{{ map_prediction.created_at|date:"F d, Y" }}</span>
                  </div>

                  <!--Area-->
                  <div class="flex items-center gap-2 mt-1">
                      <i class="fa-solid fa-map-marked-alt text-blue-500"></i>
                      <span class="text-gray-500">Area:</span>
                      <span class="text-gray-800">{{map_prediction.needs_assessment.population_projection.content_object.name|title }}</span>
                  </div>

                  <!--facility Placed-->
                  <div class="flex items-center gap-2 mt-1">
                      <i class="fa-solid fa-map-marked-alt text-blue-500"></i>
                      <span class="text-gray-500">Facility Placed:</span>
                      <!--badge-->
                     {% for facility in map_prediction.facility_coordinates_and_area_name.all %}
                      <span class="badge badge-primary">{{ facility.facility_name|truncatewords:1 }}</span>
                      {% endfor %}
                  </div>
                  <button class="btn btn-primary w-full mt-2" hx-get="{% url 'get_map_prediction' map_prediction.slug %}" hx-push-url="true" hx-target="#main" hx-swap="innerHTML">
                    <i class="fa-solid fa-map-marked-alt"></i>
                      View Prediction
                  </button>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
<script type="module">
  import { dashboardChart } from "{% static 'js/export_chart.js' %}"
  dashboardChart()
  document.querySelectorAll('.deleteBtn').forEach((deleteBtn) =>{
    deleteBtn.addEventListener('click', (e)=>{
      e.preventDefault()
      let url = e.target.href
      swal({
        title: "Are you sure?",
        text: "Once deleted you will not be able to recover this projection!",
        icon: "warning",
        buttons: true,
        dangerMode: true,

      })
      .then((willDelete) => {
        if (willDelete) {
          htmx.ajax('DELETE', url, '#main')
        }
      })
          
    })
  })

  let deleteNeedsAssessmentBtn = document.querySelectorAll('.deleteNeedsAssessmentBtn')
  if (deleteNeedsAssessmentBtn){
    deleteNeedsAssessmentBtn.forEach((deleteBtn) =>{
      deleteBtn.addEventListener('click', (e)=>{
        e.preventDefault()
        let url = e.target.href
        swal({
          title: "Are you sure?",
          text: "Once deleted you will not be able to recover this assessment!",
          icon: "warning",
          buttons: true,
          dangerMode: true,

        })
        .then((willDelete) => {
          if (willDelete) {
            htmx.ajax('DELETE', url, '#main')
          }
        })
            
      })
    })
  }
</script>
