<div id="sidebar" class="fixed inset-0 top-0 z-50 h-full overflow-y-auto px-4 md:left-0 w-64 transition duration-200 ease-in-out transform -translate-x-full md:translate-x-0 dark:bg-base-300 bg-blue-950">
    <a id="logo" href="#" hx-get="{% url 'home' %}" hx-push-url="true" hx-target="#main-content" class="flex items-center space-x-2 px-4 mt-5">
        <svg class="h-8 w-8" fill="#fff" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 10l-6 6-6-6"></path>
        </svg>
        <span class="text-2xl font-bold text-white">PRMS</span>
    </a>
    <div class="h-[calc(100%-5rem)] flex flex-col justify-between">
        <nav class="mt-10 space-y-2">
            <a href="#" hx-get="{% url 'dashboard' %}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true" class="nav-link flex gap-4 items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-900 hover:text-white text-white">
                <i class="fa-solid fa-tachometer-alt"></i> Dashboard
            </a>
            <a href="#" class="nav-link flex gap-4 items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-900 hover:text-white cursor-pointer text-white" id="projection-button" hx-trigger="click" hx-get="{% url 'crud' %}?mode=create" hx-target="#modal-content" hx-swap="innerHTML" hx-on="htmx:afterOnLoad:my_modal_3.showModal()">
                <i class="fa-solid fa-person-arrow-up-from-line"></i> Population Projection
            </a>
            <a href="{% url 'create_need_assessment' %}" hx-get="{% url 'create_need_assessment' %}" hx-target="#main" hx-push-url="true" class="nav-link flex gap-4 items-center py py-2.5 px-4 rounded transition duration-200 hover:bg-blue-900 hover:text-white text-white">
                <i class="fa-solid fa-clipboard-list"></i> Needs Assessment
            </a>
            <a href="#" hx-get="{% url 'map_prediction' %}" hx-target="#main" hx-push-url="true" class="nav-link flex gap-4 items-center py py-2.5 px-4 rounded transition duration-200 hover:bg-blue-900 hover:text-white text-white">
                <i class="fa-solid fa-map-marked-alt"></i> Map Prediction
            </a>
        </nav>
        <div class="w-full relative">
            <div class="px-4 mb-4">
                <hr class="border-t border-gray-300 my-2">
            </div>
            <a href="{% url 'account_logout' %}" class="nav-link flex gap-4 items-center py-2.5 px-4 rounded transition duration-200 hover:bg-blue-900 hover:text-white text-white mb-2">
                <i class="fa-solid fa-sign-out-alt"></i> Logout
            </a>
            <details class="dropdown w-full">
                <summary class="flex gap-4 items-center py-2 px-4 rounded transition duration-200 hover:bg-blue-900 hover:text-white text-white cursor-pointer">
                    <i class="fa-solid fa-gear"></i> Settings
                </summary>
                <ul class="menu dropdown-content w-full bg-base-100 rounded-box z-[1] p-2 shadow absolute left-0 bottom-full mb-2">
                    <li data-set-theme="dark"><a><i class="fa-solid fa-moon"></i> Dark</a></li>
                    <li data-set-theme="light"><a><i class="fa-solid fa-sun"></i> Light</a></li>
                </ul>
            </details>
        </div>
         <!--report issue container-->
         <div class="w-full bg-blue-900 p-3 rounded-lg">
            <!--rocket icon-->
            <div class="">
                <i class="fa-solid fa-rocket text-white"></i>
            </div>
            <div class="">
                <a href="#" class="text-white mt-1 font-bold">Report an Issue</a>
                <p class="text-white text-sm mt-4"> click report an issue to report any issue you encounter</p>

                <button class="btn btn-sm w-full  mt-4">
                    <i class="fa-solid fa-bug"></i>
                    Report</button>
            </div>

            
        </div>
    </div>
</div>

<!-- Overlay to close sidebar -->
<div id="overlay" class="fixed inset-0 z-40 bg-black opacity-50 hidden md:hidden"></div>

<!-- JavaScript to toggle sidebar -->
<script>
    document.querySelectorAll('.nav-link').forEach(link => {
        link.addEventListener('click', () => {
            document.getElementById('sidebar').classList.add('-translate-x-full');
            document.getElementById('overlay').classList.add('hidden');
        });
    });

    document.getElementById('overlay').addEventListener('click', () => {
        document.getElementById('sidebar').classList.add('-translate-x-full');
        document.getElementById('overlay').classList.add('hidden');
    });
</script>
