<!DOCTYPE html>
{% load socialaccount %}
<div class="navbar bg-transparent bg-base-100 backdrop-blur-md sticky  top-0 z-50 w-full lg:w-[calc(100%-16rem)] shadow-md lg:ml-[17rem] h-[4.5rem] px-4">
  <div class="flex-1 block md:hidden">
      <a hx-get="{% url 'home' %}" hx-target="#main-content" hx-push-url="true" class="btn btn-ghost text-xl font-bold">PNMS</a>
  </div>

  <!-- Welcome message -->
  <div class="flex-1 hidden md:block">
      <h2 class="text-xl font-semibold">
        <!--wave emoji-->
        <span class="wave">👋</span>
        Welcome, {{ request.user.first_name|title }}!</h2>
        
  </div>

  <div>
      <div class="form-control mr-4">
          <input id="searchInput" type="text" placeholder="Search" class="input input-bordered  input-md w-24 md:w-[20rem] hidden lg:block" />
      </div>
      <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                  {% get_social_accounts user as account %}
                  {% if account %}
                      <img class="rounded-circle" width=50 height=50 src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                  {% else %}
                      <img class="rounded-circle" width="50" height="50" src="{{ user.avatar.url }}" alt="">
                  {% endif %}
              </div>
          </div>
          <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
              <li>
                  <a class="justify-between" hx-get="{% url 'profile' user.username %}" hx-target="#main" hx-push-url="true">
                      Profile
                      <span class="badge">New</span>
                  </a>
              </li>
              <li><a>Settings</a></li>
              <li><a href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
      </div>
      <div class="md:hidden">
          <button id="menuButton" class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
              </svg>
          </button>
      </div>
  </div>
</div>
