{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/fc515a3043.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/animations/scale.css"
    />  
    {% tailwind_css %}
  </head>
  <body>
    <div id="main-content" class="relative">
      
      {% block content %} 
      
      {% endblock %}
    </div>

   
    {% block script %}
      
    {% endblock script %} 
     <!--chart js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <!-- Tippy.js Script -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>  
  </body>
</html>