{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/fc515a3043.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/animations/scale.css"
    />  
     <script src=
"https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">
  </script>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
  </head>
  <body>
    <div id="main-content" class="relative">
      
      {% block content %} 
      
      {% endblock %}
    </div>

   
    {% block script %}
      
    {% endblock script %} 
     <!--chart js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  </body>
</html>